
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

/*header Section*/

/*navigation section*/

nav ul {
  list-style-type: none;
  display: none;
}

nav ul a {
  display: block;
  background:rgb(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fdf2f2;
  transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul a:hover {
  background: #f8f7f5;
  color: #000000;
  padding-left: 20px;
}

nav ul a:active {
  background: #f8f7f5;
  color: #000000;
}


.nav-container img {
  width: 50px;
  align-self: center;
}

.logo {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Fugaz One', cursive;
  color: #fdf2f2;
  align-self: center;
  text-transform: uppercase;
}

.nav-container {
  padding: 0 20px;
  background: rgb(0, 0, 0);
  border-bottom: 4px soli #fdf2f2;
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 20px;
  height: 3px;
  margin: 5px;
  background: #fdf2f2;
}

.btn {
  padding: 8px;
  display: inline-block;
  border: 1px solid #fdf2f2;
  margin: 3px;
  height: 25px;
}

.header {
  min-height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/head-background.jpeg)center center/cover fixed no-repeat; */
  display: flex;
  width: 100%;
  background-size: 100% 100%;
  height: auto;
  flex-direction: column;
}

nav {
  flex: 0 0auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.banner h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Fugaz One', cursive;
  margin-top: 100px;
  color:  #fdf2f2;
  font-size: 27px;
}

.banner h3 {
  font-size: 120%;
  color:#f8f7f5;
}

.button {
  background-color:#000000;
  align-self: center;
  width: 80px;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px 5px;
  cursor: pointer;
  border-radius: 3px;
}
.button:hover {
  background-color:#f8f7f5;
  color: #000000;
}


.banner-icons {
  padding: 5px 0 2px;
  margin: 3px;
}

.banner-icons a {
  display: inline block;
  font-size: 20px;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 50%;
  color: #000000;
  transition: color 1s ease, transform 1s ease;
}

.banner-icons a:hover {
  color:#000000;
  transform: translateY(-10px);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* navigation big screen*/

@media screen and (min-width:750px) {
  .nav-container {
    display: none;
  }
  nav ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    background: #000000;
  }
  nav ul li{
    justify-content:space-around;
    align-self: center;
  }
  nav ul a {
    font-size: 15px;
    align-self: center;
    text-align:center;
    background: transparent;
  }
  nav ul a.current:link, a.current:visited {
    color: #000000;
    background-color: #fdf2f2;
  }

  .logo {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Fugaz One', cursive;
    color: #fdf2f2;
    align-self: center;
    margin-right: 150px;
  }
  nav ul a:hover {
    background: #f8f7f5;
    color: #000000;
    padding-left: 20px;
  }
  nav ul a:active {
    background: transparent;
    color: #f8f7f5;
    padding-left: 20px;
  }
 .banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Fugaz One', cursive;
    margin-top: 100px;
    color:  #fdf2f2;
    font-size: 50px;
  }
  .banner h3 {
    font-size: 30px;
    color: #f8f7f5;
  }
  .button {
    background-color: #000000;
    width: 130px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 50px 10px;
    cursor: pointer;
    align-self: center;
    border-radius: 10px;
  }
  .banner-icons {
    padding: 20px;
    font-size: 100%;
  }
}

/* about section for small screen */

.about {
  min-height: 80vh;
  /* background: linear-gradient(rgba(236, 39, 39, 0.2), rgba(0, 0, 0, 0.2)), url(images/about-img.jpg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
}
.about-center {
  margin-left: 10px;
  margin-right: 10px;
  }

.about-heading h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Fugaz One', cursive;
  color: #fdf2f2;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;

}

.about-head {
  display: none;
}

.head {
  flex-direction: row;
}

.about-article {
  color: #fdf2f2;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-icon {
  align-self: center;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #fdf2f2;
  border-radius: 15px;
  color: #fdf2f2;
}

.about-text h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Fugaz One', cursive;
  text-align: justify;
  text-justify: inter-word;
  text-transform: uppercase;
  color: #fdf2f2;
  font-size: 15px;
}

.about-text p {
  line-height: 1.5;
  margin-top: 3px;
  font-size: 12px;
}

.contact-details {
  display: flex;
}

.contact-text {
  justify-content: space-around;
}
/* about section for big screen */

@media screen and (min-width:750px) {
  .about {
    display: flex;
    align-items: center;
  }
  .about-center {
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
  .about-article {
    width: 60%;
  }
  .about-heading {
    display: none;
  }
  .about-article {
    color:  #fdf2f2;
    display: flex;
    flex-direction: row;
  }
  .about-icon {
    align-self: center;
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 25px;
    border: 4px solid  #fdf2f2;
  }
  .about-text h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
    text-transform: uppercase;
    color:  #fdf2f2;
  }
  .about-text p {
    line-height: 1.5;
    margin-top: 5px;
    font-size:21px;
  }
}
/* footer Section small screen */
footer {
  background: black;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

footer p {
  color: #f8f7f5;
  font-size: 10px;

}
/* footer Section big screen */
@media screen and (min-width:750px) {
  footer {
    background: black;
    padding: 30px;
    text-align: center;
  }

  footer p {
    color: #f8f7f5;
    font-size: 20px;
  }
}

/* form section */
.form {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/head-background.jpeg)center center/cover fixed no-repeat; */
  min-height: 80vh;
  background-color: #f8f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  flex: 0 0 80%;
  padding: 10px 0;
  background: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
}
form input,select, textarea {
  padding: 10px;
  border: 1px solid #000000;
}
form h3 {
  text-align: center;
  text-transform: capitalize;
  color:#f8f7f5;
  font-size: 15px;
}
form p {
  text-align: center;
  color:#f8f7f5;
  font-size: 10px;
}
form p a{
  text-decoration: none;
  color:#050379;
}
form p a:hover{
  text-decoration: none;
  color:#f8f7f5;
}
/* form Section big  screen */
@media screen and (min-width:750px) {
  .form {
    min-height: 100vh;
    background-color: #f8f7f5;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .card {
    flex: 0 0 35%;
    padding: 15px;
    margin-top:70px;
    background: rgba(15, 15, 15, 0.5);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    flex: 0 0 80%;

}
form input,select, textarea {
    padding: 10px;
    border: 1px solid #000000;
  }

  form h3 {
    text-align: center;
    text-transform: capitalize;
    color: #f8f7f5;
    font-size: 30px;
  }

  form p {
    text-align: center;
    color: #e0e0ce;
    font-size: 18px;

  }
  form p a{
    text-decoration: none;
    color:#050379;
  }
  form p a:hover{
    text-decoration: none;
    color:#f8f7f5;
  }
}
/* create-requeust-section */
.request{
  min-height: 80vh;
  padding: 100px;
  /* background: linear-gradient(rgba(216, 10, 10, 0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.request-card {
  flex: 0 0 50%;
  padding-top: 50px;
  margin-top:200px;
  background: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  border-radius:90%;

}
.request-form {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  width:100%;

}
.request-form h3 {
  text-align: center;
  text-transform: capitalize;
  color:#f8f7f5;
  font-size: 15px;
}
.request form p {
  text-align: center;
  color:#f8f7f5;
  font-size: 10px;
}
.request form p a{
  text-decoration: none;
  color:#f8f7f5;
}
.request-form input,select, textarea {
  padding: 10px;
  border: 1px solid #000000;
}
/* big-screen create-request */
@media screen and (min-width:750px) {
  .request {
    min-height: 80vh;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  .request-card {
    flex: 0 0 50%;
    padding: 20px;
    margin-top:70px;
    background: rgba(15, 15, 15, 0.5);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5%;
  }
  .request-form {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    width:100%;

   }
.request-form input,select, textarea {
    padding: 10px;
    border: 1px solid #000000;
  }

  .request-form h3 {
    text-align: center;
    text-transform: capitalize;
    color: #f8f7f5;
    font-size: 40px;
  }

  .request form p {
    text-align: center;
    color:#f8f7f5;
    font-size: 15px;
  }
  .request-form p a{
    text-decoration: none;
    color:#f8f7f5;
    font-size: 15px;
  }
}
/* All requests section */
.allrequests{
  min-height: 80vh;
  padding: 40px;
  /* background: linear-gradient(rgb(252, 251, 251,0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }

 .requests-card{
  margin-top:50px;
  margin-left: 15px;
  margin-right:15px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 4%;
	flex:30%;
	background-color: rgba(247, 239, 236, 0.5);
  border-radius:10px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 100%;
  height: auto;
}
label{
  color: #000000;
  font-weight: bold;

  }
.status{
  margin-top:10px;
  align-self:center;
}
.status p a{
  text-decoration: none;
  color: #000000;
}
.status p a:hover{
  text-decoration: none;
  color: #a51b26;
}
.red {
  background-color:#a51b26;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}
.green {
  background-color:green;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}
.yellow {
  background-color:yellow;
  color: #000000;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}

/* Big screen all request section */
@media screen and (min-width:750px) {

.allrequests{

  min-height: 80vh;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }
 .requests-card{
  margin-top:50px;
  margin-left: 10px;
  margin-right:20px;
  margin-bottom: 0px;
  padding:10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
	flex: 1 20%;
  background-color: rgba(247, 239, 236, 0.5);
  border-radius:10px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 100%;
  height: auto;
}
label{
  color: #000000;
  font-weight: bold;
  margin-right:15px;
  }
.status{
  margin-top:10px;
  align-self:center;
}
.red {
  background-color:#a51b26;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}
.green {
  background-color:green;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}
.yellow {
  background-color:yellow;
  color: #000000;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  border-radius: 5px;
}
}
/* admin request- section */
.adminrequests{
  min-height: 80vh;
  padding: 40px;
  /* background: linear-gradient(rgb(252, 251, 251,0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }

 .adminrequests-card{
  margin-top:30px;
  margin-left: 15px;
  margin-right:15px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 4%;
  flex:30%;
  font-size: 12px;
	background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 100%;
  height: auto;
}
label{
  color: #000000;
  font-weight: bold;
  margin-right:15px;
  }
  .adminrequests-card a {
   color: #000000;
   text-decoration: none;
   margin-top:20px;
   text-align: right;
  }
  .adminrequests-card a:hover {
    color: rgb(248, 6, 6);
    text-decoration: none;
  }
  /* big screen admin requests section */
  @media screen and (min-width:750px) {
  .adminrequests{
    min-height: 80vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
   .adminrequests-card{
    margin-top:70px;
    margin-left: 20px;
    margin-right:20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    flex: 1 20%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
    width: 100%;
    height: auto;
  }
 }
 /* admin request section */
 .approverequests{
  min-height: 80vh;
  padding: 40px;
  /* background: linear-gradient(rgb(252, 251, 251,0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }
 .approverequests p a{
   text-decoration: none;
   color:#000000;
   text-align: center;
 }

 .approverequests-card{
  margin-top:50px;
  margin-left: 15px;
  margin-right:15px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 4%;
	flex:30%;
	background-color: rgba(247, 239, 236, 0.5);
  border-radius:10px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 100%;
  height: auto;
}
label{
  color: #000000;
  font-weight: bold;
  }
.status{
  margin-top:10px;
  align-self:center;
}

.red {
  background-color:#a51b26;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.green {
  background-color:green;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.yellow {
  background-color:yellow;
  color: #000000;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
/* Big screen approve all request section */
@media screen and (min-width:750px) {
  .approverequests{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10%;
  }
 .approverequests-card{
  margin-top:10px;
  margin-left: 10px;
  margin-right:20px;
  margin-bottom: 0px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
	flex: 0 0 50%;
  background-color: rgba(247, 239, 236, 0.5);
  border-radius:10px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 50%;
  height: auto;
}
label{
  color: #000000;
  font-weight: bold;
  margin-right:15px;
  }
.status{
  margin-top:10px;
  align-self:center;
}
.red {
  background-color:#a51b26;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.green {
  background-color:green;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.yellow {
  background-color:yellow;
  color: #000000;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}
}

/* user details page */
.details-requests{
  min-height: 80vh;
  padding: 10px;
  /* background: linear-gradient(rgb(252, 251, 251,0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }

 .detailsrequest-card{
  margin-top:30px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
	flex: 0 0 80%;
	background-color: rgba(247, 239, 236, 0.5);
  border-radius:10px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
  width: 100%;
  height: 100%;
}
label{
  color: #000000;
  font-weight: bold;

  }
.status{
  margin-top:10px;
  align-self:center;
}

/* user details page big screen */
@media screen and (min-width:750px) {
  .details-requests{
    min-height: 80vh;
    padding: 10px;
    /* background: linear-gradient(rgb(252, 251, 251,0.2), rgba(252, 251, 251, 0.2)), url(images/request-background.jpeg)center/cover fixed no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }

   .detailsrequest-card{
    margin-top:30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex: 0 0 45%;
    background-color: rgba(247, 239, 236, 0.5);
    border-radius:10px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
  }
  .dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    justify-content:space-around;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000000;
}
}

